* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}

section .blue-headers {
    color: hsl(208, 49%, 24%);
}
