* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    font-family: 'Overpass', sans-serif;
}

section .heading {
    color: hsl(208, 49%, 24%);
    margin: 25px 0px;
    padding: 0px 25px;
    font-size: 28px;
}

.white.heading {
    color: hsl(0, 0%, 100%);
    font-size: 38px;
}

.editor img {
    width: min(100%, 500px);
}

section .text {
    color: rgb(0, 0, 0, 0.7);
    margin: 20px 0px;
    font-weight: 300;
    padding: 0px 20px;
}

.text.white {
    color: hsl(0, 0%, 100%);
    line-height: 1.8;
}

.bg-blue-circles {
    background: url(../images/bg-pattern-circles.svg) no-repeat 40% bottom hsl(237, 17%, 21%);
    position: relative;
    margin: 200px 0px;
    padding: 200px 0px;
    color: hsl(0, 0%, 100%);
}

.phones {
    position: absolute;
    left: 0;
    right: 0;
    height: 400px;
    width: min(100%, 500px);
    margin: auto;
    top: -200px;
}
