header {
    background: linear-gradient(to bottom right, hsl(13, 100%, 72%), hsl(353, 100%, 62%)), url(../images/bg-pattern-intro-mobile.svg) no-repeat 30% 30%;
    background-blend-mode: hard-light;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    border-bottom-left-radius: 6rem;
    margin-bottom: 6rem;
}

.navbar {
    padding: 60px 30px 90px 30px;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 18px;
    top: 6rem;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    width: 15rem;
    padding: 1rem 4rem;
    gap: 2rem;
    font-family: 'Ubuntu', sans-serif;
    color: hsl(208, 49%, 24%);
}

.hidden {
    display: none;
}

.menu-button {
    border: hidden;
    background: none;
    cursor: pointer;
}

.navbar .img-logo {
    width: 100%;
}

.menu-icon {
    transform: scale(1.8, 1);
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
}

.hero-heading {
    font-weight: 600;
    font-size: 32px;
}

.hero {
    display: flex;
    color: white;
    margin-inline: 40px;
    row-gap: 20px;
    flex-direction: column;
}

.hero-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.hero-btn.white {
    background-color: white;
    border: 1px solid white;
    color: hsl(356, 100%, 66%);
    padding: 15px 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.hero-btn.transparent {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 15px 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
