header {
    background: linear-gradient(to bottom right, hsl(13, 100%, 72%), hsl(353, 100%, 62%)), url(../images/bg-pattern-intro-mobile.svg) no-repeat 30% 30%;
    background-blend-mode: hard-light;
    /* height: 85vh; */
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    border-bottom-left-radius: 6rem;
    margin-bottom: 6rem;
}

.navbar {
    text-align: left;
    padding: 60px 30px 90px 30px;
}

.hero-heading {
    font-weight: 500;
    font-size: 32px;
}

.hero {
    display: flex;
    color: white;
    margin-inline: 25px;
    row-gap: 20px;
    flex-direction: column;
}

.hero-buttons {
    margin-top: 25px;
}

.hero-btn.white {
    background-color: white;
    border: 1px solid white;
    color: hsl(356, 100%, 66%);
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.hero-btn.transparent {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
